.container {
    margin-bottom: 100px;
}
.orange-bg {
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item {
    padding: 20px 40px;
}
.price {
    color: #FF136F;
}
.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

/******catagories-area Start*****/
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1 {
    background-color: orange;
}
.cat2 {
    background-color: orchid;
}
.cat3 {
    background-color: blue;
}
.catagories-area h1 {
    color: white;
}
.catagories-area img {
    width: 100px;
}
/******catagories-area End*****/


/*****Shoes-area Start*****/
.card {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
/*****Shoes-area End*****/

/*****Backpack-area Start*****/
.card-footer {
    padding: .5rem 1rem;
    background-color: white;
    border-top: none;
}
/*****Backpack-area End*****/

/*****contact-area start*****/
#contact {
    min-height: 300px;
}
/*****contact-area End*****/

/*****Footer-area Start*****/
.footer-area {
    text-align: center;
}
/*****Footer-area End*****/